/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/
body {
  background-color: LightGrey;
}

body {
  font-family: utopia-std-headline, serif;
  font-weight: 400;
  font-style: normal;
}
