/*
Fonts used:
font-family: utopia-std-headline,serif;
font-weight: 400;
font-style: normal;

font-family: utopia-std,serif;
font-weight: 400;
font-style: normal;

font-family: brandon-grotesque,sans-serif;
font-weight: 300;
font-style: normal;

font-family: brandon-grotesque,sans-serif;
font-weight: 400;
font-style: italic;

font-family: brandon-grotesque,sans-serif;
font-weight: 700;
font-style: normal;

font-family: brandon-grotesque,sans-serif;
font-weight: 700;
font-style: italic;

Colors used:
Primary Color (Blue): #009fc3;
Secondary Color (Orange): #cc6540;
*/
header {
  background-color: #dbf4f9;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.2);
}

main {
  padding-top: 99px;
}

nav {
  display: inline-block;
  width: 100%;
  padding: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
}

element.style {
  max-width: 700px;
  margin: auto;
}

body {
  background-color: #ffffff;
  font-family: brandon-grotesque, sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img,
svg {
  width: 100%;
}

a {
  color: #009fc3;
  text-decoration: none;
  /* No underline */
}

nav>ul>li>a:hover {
  color: #cc6540;
  text-decoration: underline;
}

/* nav>ul>li>a:visited {
  /* Visited link 
  color: */

nav>ul>li>a:active {
  /* Selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by deault, we need to change this to inline-block. but more on this on the next exercise*/
  background-color: #009fc3;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.6s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #009fc3;
  text-transform: uppercase;
  border: 2px solid #009fc3;
}

.button.contact:hover {
  background-color: #009fc3;
  color: #ffffff;
}

.button.contact:active {
  background-color: #009fc3;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25 px top and bottom. 0 left and right */
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: left;
}

#hero h1 {
  text-align: left;
  /* Centers text*/
}

#hero h3 {
  margin: 0px;
}

#hero span {
  display: block;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

.profileimage {
  max-width: 200px;
}

.fooddecoration {
  float: left;
  max-width: 100px;
}

#work .desc {
  padding: 50px;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.contact {
  align-content: center;
}

/* ===============================
Medium deivces (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ===============================
Large deivces (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ===============================
X-Large deivces (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* Animation */
@keyframes color-change {
  0% {
    fill: #edc655
  }

  50% {
    fill: #ed8055
  }

  100% {
    fill: #ff0101
  }
}

.sun {
  animation: 2s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 2s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(306px, 4px);
  }
}

.cloud-back {
  animation: 4s cloud-move-reverse infinite alternate linear;
}